.jmboimg {
  z-index: 1;
  top: -44px;
}

.welcomeText {
  z-index: 3;
  position: absolute;
  top: 89px;
  right: 500px;
  color: #fff;
  text-align: center;
  font-size: 50px;
}

.welcomeText :nth-child(2) {
  font-family: "Roboto", sans-serif;
  z-index: 3;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  [class*="welcomeText"] {
    z-index: 3;
    position: absolute;
    top: 300px;
    color: #fff;
    text-align: center;
    font-size: 30px;
  }

  /* [class*='welcomeText' :nth-child(2)] {
    font-family: "Roboto", sans-serif;
    z-index: 3;
    font-size: 20px;
  } */
}
