.logo {
background-image:url(../assets/img/daniel-leone.jpg);
height: 600px;
width: 100%;
background-size: cover;
background-position: center;
}

.welcomeName {
  z-index: 3;
  color: #fff;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center; 
}

.slogan {
  font-family: "Roboto", sans-serif;
  z-index: 3;
  font-size: 30px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

