.footerDiv {
    background-color: #141E55;
    text-align: center;
    border-top: 1px solid #fff;
}

.github,
.linkedIn,
.resume {
    font-size: 100px;
    /* padding: 300px;
    display: flex;
    justify-content: center; */
}